<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nelisa's Spaza Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div id = 'navvy'>
    <ul id="menu">
        <li><a href="/">Home</a></li>
        <li>
            <a href="#">Product Stats</a>
            <ul class="hidden">
                <li><a href="/mostSoldProduct">Most Sold Product</a></li>
                <li><a href="/leastSoldProduct">Least Sold Product</a></li>
                <li><a href="/totalEarningsPerProduct">Total Earnings Per Product</a></li>
                <li><a href="/mostRegularSales">Most Regular Sales</a></li>
                <li><a href="/mostProfProduct">Most Profitable Product</a></li>
                <li><a href="/leastProfProduct">Least Profitable Product</a></li>
                <li><a href="/stockRem">Stock Remaining</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Category Stats</a>
            <ul class="hidden">

                <li><a href="/totalPerCat">Total Quantity Sold Per Category</a></li>
                <li><a href="/mostPopularCat">Most Popular Category</a></li>
                <li><a href="/leastPopularCat">Least Popular Category</a></li>
                <li><a href="/totalEarningsPerCat">Total Earnings Per Category</a></li>
                <li><a href="/mostEarningCategory">Highest Earning Category</a></li>
                <li><a href="/leastEarningCategory">Lowest Earning Category</a></li>
                <li><a href="/mostProfitCategory">Most Profitable Category</a></li>
                <li><a href="/leastProfitCategory">Least Profitable Category</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Aggregates</a>
            <ul class="hidden">
                <li><a href="/totalSalesPerDay">Total Sales Per Day</a></li>
                <li><a href="/avgTotalSalesPerDay">Average Total Sales Per Day</a></li>
                <li><a href="/totalSalesPerWeek">Total Sales Per Week</a></li>
                <li><a href="/avgTotalSalesPerWeek">Average Total Sales Per Week</a></li>
                <li><a href="/avTotSalPerDayProd">Average Total Sales Per Day Per Product</a></li>
                <li><a href="/avgTotalSalesPerWeekPerProd">Average Total Sales Per Week Per Product</a></li>
                <li><a href="/avgTotalSalesPerDayPerCat">Average Total Sales Per Day Per Category</a></li>
                <li><a href="/avgTotalSalesPerWeekPerCat">Average Total Sales Per Week Per Category</a></li>
            </ul>
        </li>
    </ul>
</div>

    {{{body}}}
 
</body>
</html>
