<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class = 'data-title'>Edit</h1>
                <p>Welcome to Nelisa Spaza Inc Inventory System</p>
            </div>
        </div>
        <hr />
{{#if admin}}
<!--Add category section-->
        <h1 >Add a Category</h1>
        <br />

        <!-- form calls /addCat and posts input to database-->
        <form action="/category/add" method="POST">
            Category Name: <br /><input type="text" name="cat_name">

            <div class = "error">{{error}}</div>

            <br/><br/><input type="submit">
        </form>
        <hr />
{{else}}
    <h2>You do not have access to this page</h2>
{{/if}}
    </div>
</div>
