<!-- Here is the handlebars page for the add entity, used to add category/product/supplier-->
<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class = 'data-title'>Edit</h1>
                <p>Welcome to Nelisa Spaza Inc Inventory System</p>
            </div>
        </div>
        <hr />

<!--Add supplier section-->
        <h1>Add a Supplier</h1>
        <br />
        <form action="/addSupp" method="POST">
            Supplier Name: <br /><input type="text" name="supplier_name">
            <br /><br /><input type="submit">
        </form>
        <hr />

    </div>
</div>
