<!-- Here is the handlebars page for product profits , used to show profit made by each product from most to least-->
<div id="page-wrapper" >
    <div id="page-inner">
        <!--<div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class = "data-title">Nelisa Spaza Inc</h1>
                <p>Welcome to Nelisa Spaza Inc Inventory System</p>
            </div>
        </div>-->

        <hr />
        <div><h3 class = 'text-center'>PRODUCT PROFITS</h3></div>
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <table class="table">
                    <tr>
                        <th>Category Name</th>
                        <th>Supplier Name</th>
                        <th>Profit</th>
                    </tr>
                    {{#catProfit}}
                    <tr>
                            <td>{{cat_name}}</td>
                            <td>{{supplier_name}}</td>
                            <td>{{profit}}</td>
                    </tr>
                    {{/catProfit}}
                </table>
            </div>

        </div>

    </div>
</div>

