<!--This is the handlebars page for the home page with information about nelisa and her shop-->
<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class = "text-center data-title">SpInS: Spaza Inventory System</h1>
                <p class = "text-center">Welcome to SpInS - the Spaza Inventory System Home Page</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2 class = " text-center data-title">About</h2>
                <article>
                <p>Starting a spaza shop can be quite simple, but as your customer base grows, keeping track of trends and supply/demand can prove to be quite daunting.</p>
                <p>The Spaza Inventory systems allows you to digitally record your products, suppliers and categories as well as keep track of stock purchases and sales.
                Additionally, the systems also provides you with relevant data, such as the most popular products and categories, most profitable products and categories, etc.
                This data will enable you to make important purchasing decisions and track trends over time.</p>
                </article>
            </div>
        </div>

        <hr />
        <div class ="row">
            <h2 class = "text-center data-title">Clients</h2>
            <div class = "col-md-6 col-sm-6 col-xs-6">
                <h3 class = "text-center">Nelisa:</h3>
                <div class = "text-center"><img src = "/img/nelisa.png"></div>
                <p class = "text-center">CEO of Nelisa Spaza Inc</p>
            </div>
            <div class = "col-md-6 col-sm-6 col-xs-6">
                <h3 class = "text-center">Xolani:</h3>
                <div class = "text-center"><img src = "/img/xolani.png"></div>
                <p class = "text-center">Operator at Nelisa Spaza Inc</p>
            </div>
        </div>
    </div>
</div>

