<!--This is the handlebars page for the home page with information about nelisa and her shop-->
<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class = "text-center data-title">SpInS: Spaza Inventory System</h1>
                <p class = "text-center">Welcome to SpInS - the Spaza Inventory System Home Page</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2 class = " text-center data-title">Login</h2>
                <p class = "text-center">{{msg}}</p>
                <form class="text-center" action="/login" method="post">
                    <label>Username:</label><input class = "input" type="text" name="user"> <br/>
                    <label>Password: </label><input class = "input" type = "password" name="pass"><br/><br/>
                    <button type="submit">Login</button>
                </form>
                <a href = "/signUp"><p class = "text-center">Sign Up</p></a>
            </div>
        </div>

        <hr />

    </div>
</div>


