<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1>Nelisa Spaza Inc</h1>
                <p>Welcome to Nelisa Spaza Inc Inventory System</p>
            </div>
        </div>
        <!-- /. ROW  -->
        <hr />

        <!-- /. ROW  -->
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                    {{#each item}}
                    <tr>
                            <td>{{name}}</td>
                            <td>{{amt}}</td>
                    </tr>
                    {{/each}}
                </table>
            </div>



        </div>
        <!-- /. ROW  -->
    </div>
</div>
</div>
