<div class = 'col-md-9'>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>
    </thead>
    {{#each item}}
    <tbody>
            <td>{{name}}</td>
            <td>{{amt}}</td>

    </tbody>
    {{/each}}
</table>
</div>