<!--This is the handlebars page for the home page with information about nelisa and her shop-->
<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class = "text-center data-title">SpInS: Spaza Inventory System</h1>
                <p class = "text-center">Welcome to SpInS - the Spaza Inventory System Home Page</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2 class = " text-center data-title">Sign Up</h2>
                <p class = "text-center">{{msg}}</p>
                <form class="text-center" action="/signUp" method="post">
                    <label>Username: </label><br/><input class = "input" type="text" name="user"> <br/>
                    <label>Password: </label><br/><input class = "input" type = "password" name="pass"><br/>
                    <label>Confirm Password: </label><br/><input class = "input" type = "password" name="pass2"><br/>
                    <button class = "loginButt" type="submit">Sign Up</button>
                </form>
                <form class="text-center"  action="/" method="get">
                <button class = "signButt">Log In</button>
            </form>
            </div>
        </div>

        <hr />

    </div>
</div>


