<div id = 'container'>
    <table>
        <tr id = 'heady'>
            <th>Name</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>{{name}}</td>
            <td>{{amt}}</td>
        </tr>
    </table>
</div>