<div>
    <table>
        <tr id = 'heady'>
            <th>Product</th>
            <th>Amount Sold</th>
        </tr>
        <tr>
            <td>{{name}}</td>
            <td>{{amt}}</td>
        </tr>
    </table>
</div>