<div id="page-wrapper" >
    <div id="page-inner">
        <!--<div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class = "data-title">Nelisa Spaza Inc</h1>
                <p>Welcome to Nelisa Spaza Inc Inventory System</p>
            </div>
        </div>-->

        <hr />
        <div><h3 class = 'text-center'>SUPPLIER LIST</h3></div>
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <table class="table">
                    <tr>
                        <th>Supplier ID</th>
                        <th>Supplier Name</th>
                    </tr>
                    {{#supplier}}
                    <tr>
                            <td>{{supplier_id}}</td>
                            <td>{{supplier_name}}</td>
                    </tr>
                    {{/supplier}}
                </table>
            </div>

        </div>

    </div>
</div>

