<!-- Here is the handlebars page for the update sales, used to update the sale of a category/product/supplier-->
<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class = 'data-title'>Edit</h1>
                <p>Welcome to Nelisa Spaza Inc Inventory System</p>
            </div>
        </div>
        <hr />

<!--Update sale section-->
        <h1 >Update Sale</h1>
        <br />
        <!-- form calls /addCat and posts input to database-->
        <br />

    {{#sale}}
            <form action="/sales/updateSale/{{sale_id}}" method="POST">
    {{/sale}}
                Date: <br /><input type="date" name="date">
                <br/><br/>
                Quantity Sold: <br /><input type="number" name="qtySold">
                <br/><br/>Product: <br/>
                <!--dropdown menu gets cat_name from category-->
                <select name="prod_id">
                    {{#product}}
                        <option selected name="prod_name" value="{{prod_id}}">{{prod_name}}</option>
                    {{/product}}
                </select>
                <br/><br/>
                Sale Price: <br /><input type="number" step="0.01" name="salePrice">
                <br /><br /><input type="submit">
            </form>

        <hr />

</div>
</div>